{% extends 'hotel/hotel_base.html' %}

{% block title %} Rooms In Detail {% endblock %}

{% block body %}

<h1>Showing details for <em>Room:{{room_in_detail.number}}</em> </h1>

<p><b>Floor:</b> {{room_in_detail.floor}}</p>
<p><b>Capacity:</b> {{room_in_detail.capacity}}</p>

<h2>Students in Room:</h2>
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Level</th>
        </tr>
    </thead>
        <tbody>
            {% for tenant in room_in_detail.tenants.all %}
            <tr>
                <td scope="row">{{tenant.student_ID}}</td>
                <td>{{tenant}}</td>
                <td>{{tenant.level}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<!--? "room" as used below becomes a variable in the url--> 
<a href='{% url "hotel:create_tenant" pk=room_in_detail.pk %}?room={{room_in_detail.pk}}'class="btn btn-primary"> 
    Add Tenant <span class="badge badge-primary"> -> </span>
</a>

<a href="{% url 'hotel:delete' pk=room_in_detail.pk%}"><button type="submit" class="btn btn-danger">Delete Room</button></a>


{% endblock %}
