{% extends 'hotel/hotel_base.html' %}

{% load humanize %}


{% block title %} Rooms List {% endblock %}

{% block body %}

{% if rooms %}
    <h1>Here are the currently occupied rooms:</h1>
    <ul>
        {% for room in rooms %}
            <h2>
                <li><a href="room{{ room.pk }}">Room {{room.pk}}</a></li>
            </h2>
        {% endfor %}
    </ul>

{% else %}
    <h1>There are currently no occupied rooms</h1>
{% endif %}

<a href='{% url "hotel:create_room" %}' class="btn btn-primary">
    Add Room <span class="badge badge-primary">-></span>
</a>


{% endblock %}