<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'bs4/css/bootstrap.min.css' %}">

</head>

<body>
    <div class="container mt-4">
        {% if form.errors %}
            <p>There is something wrong!</p>
        {% endif %}
        
        
        {% if next %}
            <p>Hey tou can't accesss that page</p>
        {% endif %}
    
        <form action="{% url 'login' %}" method = 'POST'>
            {% csrf_token %}
            <p>{{ form.username.label_tag }} {{ form.username }}</p>
            <p>{{form.password.label_tag}} {{ form.password }}</p>
    
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="next" value = "{{ next }}">
        </form>    

    </div>
</body>

</html>